* {
    box-sizing: border-box;
    padding:0;
    margin:0;
    font-family: 'Roboto', sans-serif;}

body {
    background: rgba(221, 216, 216, 0.959)
}

h1 {
    font-weight: 900;
font-size: 36px;
line-height: 42px;
text-align: center;
}
.container-one {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  align-items:center;
  width:100%;
  margin-top: 40px;

}

input[type=checkbox].toggle{
    display:none;
}

input[type=checkbox].toggle + label{
    display: inline-block;
    height: 60px;
    width: 200px;
    position: relative;
    font-size: 20px;
    border: 4px solid white;
    padding: 0;
    margin: 0;
    cursor: pointer;
    box-sizing: border-box;
    transition: all 0.3s ease;
}


input[type=checkbox].toggle + label:before{
    position: absolute;
    top: 4px;
    height: 44px;
    width: 44px;
    content: '';
    transition: all 0.3 ease;
    z-index: 3;

}

input[type=checkbox].toggle + label:after{
    width: 140px;
    text-align: center;
    z-index: 2;
    text-transform: uppercase;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    text-overflow: ellipsis;
    overflow: hidden;
    font-size: 10px;
}

input[type=checkbox].toggle + label.rounded{
    border-radius: 30px;
}

input[type=checkbox].toggle + label.rounded:before{
    border-radius: 50%;
}

input[type=checkbox].toggle + label.android{
    height: 20px;
    border-radius: 30px;
    width: 150px;
    border-width: 0;
    margin-top: 20px;
    margin-bottom: 20px;
}

input[type=checkbox].toggle + label.android:before{
    border-radius: 50%;
    top: -20;
    height: 60px;
    width: 60px;
    background-color: white;
    box-shadow: 0 0 15 #333;
}

input[type=checkbox].toggle + label.android:after{
    display:none;
}

input[type=checkbox].toggle + label.andoird:active:before{
    box-shadow: 0 0 2px 15px rgb(48,48,48,0.7);
    transition: all 0.1 ease;
}


input[type=checkbox].toggle:not(:checked) + label{
    background-color: transparent;
    text-align: right;
}

input[type=checkbox].toggle:not(:checked) + label:after{
    content: attr(data-unchecked);
    right: 0;
    left: auto;
    opacity: 1;
    color: white;
}

input[type=checkbox].toggle:not(:checked) + label:before{
    left: 4px;
    background-color: white;
}

input[type=checkbox].toggle:not(:checked) + label:android{
    background-color: white;
    border-color: white;
}

input[type=checkbox].toggle:not(:checked) + label.android:before{
    left: 4px;
    background-color: white;
}

input[type=checkbox].toggle:checked + label.android:before{
    left: 0;
    background-color: white;
}

input[type=checkbox].toggle:checked + label{
    text-align: left;
    border-color: yellow;
}

input[type=checkbox].toggle::checked + label:after{
    content: attr(data-checked);
    left: 4px;
    right: auto;
    opacity: 1;
    color: white;
}
 
input[type=checkbox].toggle:checked + label:before {
    left: 144px;
    background-color: yellow;
}











.toggle-btn {
    width: 80px;
    height: 40px;
    background: grey;
    border-radius: 30px;
    padding: 5px;
    transition: all 300ms ease-in-out;
}

.toggle-btn > .inner-circle {
    width:30px;
    height: 30px;
    background: #fff;
    border-radius: 50%;
    transition: all 300ms ease-in-out;


}

/*when active the toggle turns blue*/
.toggle-btn.active {
    background: #00acee;
}

.toggle-btn.active > .inner-circle {
    margin-left: 40px;
}



h5 {
    color: #F94E4E;
    background-color: #FEE2E2;
    padding: 10px;
    border-radius: 15px;
    margin: 4px 4px 4px 18px;
    text-transform: uppercase;
    text-align: center;
    width: 40%;

}

h6 {
    padding: 10px;
    font-size: 12px;
    line-height: 14px;
    color: #868990;
}

.container-two {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 20px;
}

.card {
    background:  white;
    width: 270px;
    height: 526px;
    margin: 10px;
    border-radius: 8px;
    border: 2px solid #F5F5F7;
}

.card-content {
   
    margin-bottom: 15px;
    border-radius: 15px 15px 0px 0px;
}

.card h2 {
    padding: 10px;
    margin-left: 10px;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 28px;
}


.card p {
    padding: 10px;
    margin-left: 10px;
    color: #757880;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
}

.card a {
   background-color: #DC085C;
    color: white;
    padding: 15px 20px;
    display: block;
    text-align: center;
    margin: 10px 20px;
    border-radius: 5px;
    font-size: 12px;
}

.second-card-part{
    color: #868990;
    padding: 10px;
}

ul {
     list-style-type: none;
     
     
}


h4 {
    padding: 10px;
    font-size: 12px;
    line-height: 14px;  
    text-transform: uppercase;
    color: #000000;
}


.img-span-container{
    text-align: left;
    margin-left: 10px;
    font-size: 12px;
    font-weight: 400;
    line-height: 14.06px;
    padding-top: 20px;
}

.img-size{
    vertical-align:middle;
    width:10px;
    height:10px;
}

.span-text{
    vertical-align:middle;
    padding:15px;
    font-weight:100;
}

hr.card-divider {
    border-top: 1px solid rgb(239, 239, 239);
  }